<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pradipkokate.e_license">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".OTP" />
        <activity android:name=".Signup" />
        <activity android:name=".Login" />
        <activity
            android:name=".Admin"
            android:label="@string/title_activity_admin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AddLicense" />
        <activity android:name=".AddRC" />
        <activity android:name=".RC1" />
        <activity android:name=".ViewRC" />
        <activity android:name=".ViewRC1" />
        <activity
            android:name=".ShowInfo"
            android:label="@string/title_activity_show_info"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ViewLicense1" />
        <activity android:name=".ViewLicense"></activity>
    </application>

</manifest>